.el-overlay {
    .el-drawer {
        .el-drawer__header {
            margin-bottom: 20px;
            padding: 15px;
            padding-bottom: 0;

            .el-drawer__title {
                font-weight: bold;
                font-size: 16px;
            }
        }

        .el-drawer__body {
            flex: 1;
            padding: 0 15px;
        }
    }
}
