.el-menu.el-menu {
    border-radius: 4px;
    height: 100%;
    border-right: none;
    user-select: none;
    --el-menu-item-height: 36px;
    --el-menu-base-level-padding: 10px;
    --el-menu-text-color: var(--el-text-color-primary) !important;
    // --el-menu-hover-bg-color: var(--el-color-primary-light-8) !important;

    .el-sub-menu,
    .el-menu-item {
        margin-bottom: 5px;
        border-radius: 4px;
        overflow: hidden;
        font-weight: 500;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .el-menu-item {
        height: var(--el-menu-item-height);
        &:hover {
            background-color: var(--el-color-primary-light-9);
        }
        &.is-active {
            background-color: var(--el-color-primary);
            color: #fff !important;
        }
    }
    .el-sub-menu {
        &.is-active {
            .el-sub-menu__title {
                color: var(--el-text-color-regular);
            }
        }
        .el-sub-menu__title {
            margin-bottom: 0;
            border-radius: 5px;
            &:hover {
                background-color: var(--el-color-primary-light-9);
            }
        }
        .el-menu {
            margin-top: 5px;
        }
    }
    &.el-menu--horizontal {
        display: flex;
        align-items: center;
        .el-sub-menu,
        .el-menu-item {
            border-radius: 4px;
            min-width: fit-content;
            margin-bottom: 0;

            .el-sub-menu__title {
                border-radius: 0;
                border-bottom: none;
            }
        }

        .el-menu-item.is-active {
            background-color: var(--el-color-primary) !important;
            color: #fff !important;
        }
    }
    &.el-menu--popup {
        .el-sub-menu,
        .el-menu-item {
            border-radius: 0;
        }
    }
}
