/* just override what you need */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': #171717,
        ),
        'success': (
            'base': #22c55f,
        ),
        'warning': (
            'base': #ffab00,
        ),
        'danger': (
            'base': #e7000b,
        ),
        'error': (
            'base': #e7000b,
        ),
        'info': (
            'base': #06b8d9,
        ),
    )
);
