* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus-visible {
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
