#nprogress {
    pointer-events: none;

    .bar {
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--el-color-primary);
    }

    .peg {
        display: block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        box-shadow:
            0 0 10px var(--el-color-primary),
            0 0 5px var(--el-color-primary);
        opacity: 1;
        transform: rotate(3deg) translate(0px, -4px);
    }
}
